* {
  margin: 0;
  box-sizing: border-box;
}

#background-image {
  height: 100vh;
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#background-image > #opaque-layer {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.5;
}

#sidebar {
  position: fixed;
  margin-top: 20px;
  border-right: 1px solid lightGrey;
  height: 100%;
  padding-top: 120px;
}

#listings {
  list-style-type: none;
}

#listings > li > button {
  margin-left: 5px;
}

#user-profile {
  text-align: center;
}

#profile-page,
#edit-profile-page {
  padding: 40px;
}

.profile-pic {
  height: 200px;
  width: 200px;
  background-color: lightGrey;
}

#upload-photo {
  width: 200px;
}

#profile-upload {
  margin: 5px;
}

#journal-table {
  margin: 25px;
}

#journal-table-body > tr {
  cursor: pointer;
}

#journal-table-body > tr:hover {
  color: #2980b9;
}

.modal-form {
  width: 95%;
  margin: 15px auto;
}

#int-number {
  height: 30px;
}

#flatpickr {
  width: 85%;
}

#add-interview {
  margin-top: 15px;
}

#int-number-laber {
  margin-top: 5px;
}

.home {
  position: absolute;
  top: 25vh;
  margin: auto;
  width: 100%;
}

.logo-home {
  display: block;
  text-align: center;
  margin: 20px auto;
}

#logo {
  height: 64px;
}

#job-search {
  text-align: center;
}

.hidden {
  display: none;
}

#page-numbers {
  text-align: center;
}

#page-numbers > a {
  padding: 5px;
}

.pac-icon {
  width: 0;
  background-image: none;
}
