* {
  margin: 0;
  box-sizing: border-box;
}

#background-image {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}

#background-image::after {
  content: "";
  height: 100vh;
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.home {
  position: absolute;
  top: 25vh;
  margin: auto;
  width: 100%;
}

.logo-home {
  display: block;
  height: 64px;
  margin: 20px auto;
}

#job-search {
  text-align: center;
}

.hidden {
  display: none;
}

#page-numbers {
  text-align: center;
}

#page-numbers > a {
  padding: 5px;
}
